.hidden {
    display: none
}

.faq__questions {
    padding: 2rem;
    border: 2px solid var(--yellow);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;

}

.right {
    float: right;
    cursor: pointer;
}

.faq__questions__container {
    display: flex;
    flex-direction: column;
}


.faq__question {
    font-weight: 800;
}

.faq__question:hover {
    color: var(--yellow);
}

.faq__answer {
    margin-left: 1rem;
    font-style: italic;
    text-align: justify;
    width: 90%;
}

.rotate {
    transform: rotate(180deg);
}

.yellow {
    color: var(--yellow);
}

.black {
    color: black !important;
}

@media (min-width: 374px) and (max-width: 1000px) {

    .faq__questions {
        border: none;
        border-radius: 0;
    }
}