.speakers__cards {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speakers__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 25%;
    margin-bottom: 3rem;
}

.speakers__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.speakers__name {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--darkBlue);
}

@media (min-width: 1600px) {
    .speakers__image {
        width: 200px;
        height: 200px;
    }
}