.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
}

.home__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.home__text span {
    padding: 0 10px;
    font-size: 2rem;
    font-weight: 900;
    background-color: var(--yellow);
    color: #fff;
}

.home__btn {
    font-size: 2rem;
    font-weight: 800;
    background-color: var(--blue);
    color: #fff;
    padding: 0 1.5rem;
    text-decoration: none;
}

.home__background {
    max-height: 60vh;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    z-index: -1;
    border-radius: 0.25rem;
}

@media (min-width: 374px) and (max-width: 1000px) {

    .home__content {
        gap: 0.2rem;
    }

    .home__text {
        gap: 0.2rem;
    }

    .home__text span {
        padding: 0 5px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .home__btn {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .home__background {
        border-radius: 0;
    }
}