:root {
    --yellow: rgb(255, 196, 0);
    --blue: #0e7eff;
    --gray: rgb(185, 185, 185);
    --lightGray: rgb(228, 228, 228);
    --darkBlue: #014696;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #f5f7fa
}

section {
    width: 90%;
    max-width: 1000px;
    margin: 5rem auto;
}

.title__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--blue);
}

.description {
    margin-top: -1.5rem;
    font-size: 1.3rem;
    color: var(--gray);
}

.config__label__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.config__label {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5rem;
}

fieldset {
    margin: 1rem auto;

    padding: 2rem;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 0.25rem;
}

legend {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 0 1rem;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.config__text__input {
    height: 2rem;
    border: .1px solid black;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}

.config__text__input::placeholder {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0.5rem;
}


@media (min-width: 374px) and (max-width: 1000px) {

    section {
        width: 100%;
    }

    .title {
        margin-left: 1rem;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .description {
        margin-left: 1rem;
        margin-top: -1.5rem;
        font-size: 1rem;
    }
}